*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
nav{
    width:100%;
    height: 120px;
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    position: fixed;
    top: 0;
    z-index: 1;
}
.logo a img{
    width: 180px;
    height: 180px;
    overflow: hidden;
}
.logo a img{
    transition: 0.5s;
}
.logo a img:hover{
    transform: scale(1.09);
}
.carrito a img{
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.carrito a img{
    transition: 0.5s;
}
.carrito a img:hover{
    transform: scale(1.09);
}
.menu{
    display: flex;
    width: 65%;
    justify-content: left;
    list-style: none;
}
.menu li{
    margin-left: 20px;
}
.menu li a{
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.3s ease;
}
.menu li a:hover{
    color: rgb(23, 204, 159);
}
.search{
display: flex;
align-items: center;
margin-right: 0;
}
.search form{
    display: flex;
    margin: 0;
}
.search input{
    padding: 10px;
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 20px;
}
.search input: hover{
}
.search button{
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color:black;
    font-size: 20px;
    cursor: pointer;
}
.search button:hover{
    background-color: rgb(23, 204, 159);
}
section {
    background-color: rgba(0, 0, 0, 0);
}
.titulo {
    text-align: center;
    padding-top: 50px;
}
.slider-box {
    width: 1280px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    margin-top: 150px;
}
.slider-box ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}
.slider-box li {
    width: 100%;
    list-style: none;
    position: relative;
}
.slider-box img:hover{
    transform: scale(1.02);
    transition: 0.5s;
}
.texto {
    position: absolute;
    text-align: center;
    padding: 0 250px;
    top: 250px;
    color: white;
}
.texto h2 {
    font-size:45px;
    margin-bottom: 35px;
}
.slider-box img {
    width: 100%;
}
@keyframes slide {
    0% {margin-left :-0%;}
    20% {margin-left :-0%;}

    25% {margin-left :-100%;}
    45% {margin-left :-100%;}

    50% {margin-left :-200%;}
    70% {margin-left :-200%;}

    75% {margin-left :-300%;}
    100% {margin-left :-300%;}
}
body{
    background-color: rgb(39, 39, 39);
}
.cards-conteiner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-top: 20px;
    width:auto;
}
.cards:hover{
    transform: scale(1.02);
    transition: 0.7s;
}
.textcards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    color: rgb(255, 255, 255);
    padding-top: 50PX;
    font-size: 37PX;
}
.textcards p:hover{
    color: rgb(23, 204, 159);
    transition: 0.5s;
    cursor: pointer;
}

